.button {
  background: white;
  min-width: 125px;
  height: 46px;
  border-radius: 16px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform-origin: center center;
}

.button:active {
  background: #751b5c;
  opacity: 80%;
}
