.button {
  width: 100%;
  min-width: 125px;
  max-width: 343px;
  height: 44px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform-origin: center center;
}
.button--primary:hover {
  background: #8d2470;
}

.button:active {
  opacity: 80%;
}

.button--active {
  background: #751b5c !important;
  color: #fff !important;
}

.button--primary {
  background: #751b5c;
  color: white;
}

.button--secondary {
  background: white;
  color: black;
}
