body {
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1;
}

.underline {
  text-decoration: underline;
  color: #751b5c;
}
