.container {
  position: relative;
  min-height: 100vh;
  display: flex;
}

.bg-image {
  position: absolute;
  object-fit: cover;
}

.form-wrap {
  z-index: 10;
  flex-grow: 1;
  display: flex;
  margin-right: 1vw;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .form-wrap {
    margin-right: 4%;
    justify-content: right;
  }
}

@media screen and (min-width: 1440px) {
  .form-wrap {
    margin-right: 8%;
  }
}

.form-container {
  height: 394px;
  width: 352px;
  background-color: black;
  border-radius: 16px;
  display: flex;
}

.form-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.register-text {
  color: white;
}

.title {
  color: white;
  margin: 0;
}
